.navigator {
    display: flex;
    flex-direction: row;
    
    .tabs {
        ul {
            padding-left: 0em;
            list-style-type: none;
            
            il {
            }
            
            .active {
                background-color: yellow;
            }
        }
    }
    
    .tab {
        
    }
    
    .parent-tabs {
        width: 10em;
    }
    
    .child-tabs {
        display: flex;
        flex-direction: row;
    }
    
    .section {
        .inactive {
           display: none; 
        }
    }
}